<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>~ ~飲料訂單~ ~</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>
  <style>
    body {
      background-image: url("./Image/001.jpg");
      background-color: #cccccc;
      height: 600px;
      background-position: center;
      background-repeat: no-repeat;
      /* background-size: cover; */
      position: relative;
    }
    #app {
      font-size: large;
      font-weight: bold;
    }
  </style>
  <body class="container">
    <div id="app">
      <div class="container gx-2">
        <div class="row gx-3 bg-light py-3">
          <div class="col-md-4">
            <div class="list-group">
              <!-- v-on:click="tempObj(item)" 是抓 (item , key) in products 的 item-->
              <a
                href="#"
                v-for="(item , key) in products"
                :key="item.name"
                class="list-group-item list-group-item-action"
                v-bind:class="{ active : temp.name == item.name }"
                v-on:click="tempObj(item)"
              >
                <h6 class="card-title mb-1">{{ item.name}}</h6>
                <div class="d-flex align-items-center justify-content-between">
                  <p class="mb-0"><small>{{ item.engName}}</small></p>
                  <p class="mb-0"><small>NT$ {{ item.price}}</small></p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card mb-2">
              <!-- temp倉庫{}有名字hasOwnProperty，就跑v-if(!如果沒有名字，就跑if) -->
              <!-- 執行 v-on:click="tempObj(item)" 後 -->
              <!-- temp: {
                  name: "珍珠鮮奶茶",
                  engName: "Pearl Milk Tea",
                  price: 60,
                  defaults: {
                    toppings: ["珍珠"],
                    sugar: "",
                    ice: "",
                  },
                }, -->
              <div
                v-if="!temp.hasOwnProperty('name')"
                class="position-absolute text-white d-flex align-items-center justify-content-center"
                style="top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.65); z-index: 100"
              >
                請先選擇飲品
              </div>
              <div class="card-body px-4">
                <div class="mb-3">
                  <label for="productNum" class="form-label">數量</label>
                  <!-- v-model(寫入資料，要先有倉庫) -->
                  <input
                    v-model="temp.count"
                    type="number"
                    class="form-control"
                    id="productNum"
                    placeholder="數量"
                    min="0"
                    value=""
                  />
                </div>
                <div class="mb-3">
                  <label for="productNum" class="form-label d-block">冰塊*</label>
                  <div v-for="(item , key) in iceType" :key="item" class="form-check form-check-inline">
                    <input
                      v-model="temp.ice"
                      class="form-check-input"
                      name="iceType"
                      type="radio"
                      v-bind:id="item"
                      :value="item"
                    />
                    <label class="form-check-label" v-bind:for="item">{{ item }}</label>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="productNum" class="form-label d-block">甜度*</label>
                  <div v-for="(sugar , key) in sugarType" :key="sugar" class="form-check form-check-inline">
                    <!-- v-bind:disabled="temp.defaults.sugar === '全糖'" -->
                    <input
                      v-model="temp.sugar"
                      class="form-check-input"
                      name="sugarType"
                      type="radio"
                      v-bind:id="sugar"
                      :value="sugar"
                    />
                    <label class="form-check-label" v-bind:for="sugar">{{ sugar }}</label>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="productNum" class="form-label d-block">加料</label>
                  <div
                    v-for="(myToppings , key) in toppingsType"
                    :key="myToppings + key"
                    class="form-check form-check-inline"
                  >
                    <!-- v-bind:disabled="temp.defaults.toppings === 珍珠" -->
                    <input
                      v-model="temp.toppings"
                      class="form-check-input"
                      type="checkbox"
                      v-bind:id="myToppings"
                      :value="myToppings"
                    />
                    <label class="form-check-label" v-bind:for="myToppings">{{ myToppings }}</label>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="productNotice" class="form-label">備註</label>
                  <textarea v-model="temp.remark" class="form-control" id="productNotice" rows="2"></textarea>
                </div>
                <div class="d-flex gap-2">
                  <button v-on:click="Clear()" class="btn btn-outline-primary w-100" type="button">取消</button>
                  <button v-on:click="addTempForm(temp)" class="btn btn-primary w-100" type="button">加入</button>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">品項</th>
                      <th scope="col">冰塊</th>
                      <th scope="col">甜度</th>
                      <th scope="col">加料</th>
                      <th scope="col">單價</th>
                      <th scope="col">數量</th>
                      <th scope="col">小計</th>
                    </tr>
                  </thead>
                  <tbody v-for="(item , key) in tempForm" :key="item">
                    <tr>
                      <th scope="row">
                        {{item.name}}<br />
                        <small class="text-muted fw-normal">{{item.remark}}</small>
                      </th>
                      <td>{{item.ice}}</td>
                      <td>{{item.sugar}}</td>
                      <td>{{item.toppings.toString() }}</td>
                      <td>{{item.price}}</td>
                      <td>{{item.count}}</td>
                      <td class="text-end">{{item.totalPrice}}</td>
                    </tr>
                  </tbody>
                </table>
                <p id="orderPrice" class="text-end">NT$ {{orderPrice}}</p>
                <button v-on:click="orderDetail(tempForm)" class="btn btn-sm btn-secondary w-100">產生訂單</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-light p-3 mt-3">
        <div class="bg-white p-3 d-flex flex-column" style="min-height: 450px">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">品項</th>
                <th scope="col">冰塊</th>
                <th scope="col">甜度</th>
                <th scope="col">加料</th>
                <th scope="col">單價</th>
                <th scope="col">數量</th>
                <th scope="col">小計</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item , key) in orderEnd" :key="item">
                <th scope="row">
                  {{item.name}}<br />
                  <small class="text-muted fw-normal">{{item.remark}}</small>
                </th>
                <td>{{item.ice}}</td>
                <td>{{item.sugar}}</td>
                <td>{{ item.toppings.toString() }}</td>
                <td>{{item.price}}</td>
                <td>{{item.count}}</td>
                <td class="text-end">{{item.totalPrice}}</td>
              </tr>
            </tbody>
          </table>
          <p class="mt-3 mb-1">訂單成立時間：{{orderDate}}</p>
          <p class="mb-1">餐點數： {{orderAllCount}}</p>
          <p class="mb-1">付款狀態：{{ pay ?"已付錢錢" : "未付款"}}</p>
          <p class="text-end mt-auto">NT$ {{ orderPriceTotal }}</p>
        </div>
      </div>
    </div>
  </body>
  <script src="https://unpkg.com/vue@next"></script>

  <script>
    const App = {
      data() {
        return {
          iceType: ["正常冰", "少冰", "微冰", "去冰", "熱"],
          sugarType: ["全糖", "七分", "半糖", "三分", "無糖"],
          toppingsType: ["珍珠", "粉條", "小粉圓", "椰果", "芋頭"],
          products: [
            {
              name: "珍珠鮮奶茶",
              engName: "Pearl Milk Tea",
              price: 60,
              defaults: {
                toppings: ["珍珠"],
                sugar: "",
                ice: "",
              },
            },
            {
              name: "椰果鮮奶茶",
              engName: "Coconut Milk Tea",
              price: 60,
              defaults: {
                toppings: ["椰果"],
                sugar: "",
                ice: "",
              },
            },
            {
              name: "鮮奶茶",
              engName: "Milk Tea",
              price: 50,
              defaults: {
                toppings: [""],
                sugar: "",
                ice: "",
              },
            },
            {
              name: "古意冬瓜茶 (糖固定)",
              engName: "Winter Melon Drink",
              price: 30,
              defaults: {
                toppings: [""],
                sugar: "全糖",
                ice: "",
              },
            },
            {
              name: "蜜香紅茶",
              engName: "Black Tea",
              price: 30,
              defaults: {
                toppings: [""],
                sugar: "",
                ice: "",
              },
            },
            {
              name: "包種青茶",
              engName: "Black Tea",
              price: 35,
              defaults: {
                toppings: [""],
                sugar: "",
                ice: "",
              },
            },
            {
              name: "檸檬烏龍",
              engName: "Lemon Oolong Tea",
              price: 55,
              defaults: {
                toppings: [""],
                sugar: "",
                ice: "",
              },
            },
            {
              name: "薑母茶 (熱飲)",
              engName: "Ginger Tea",
              price: 55,
              defaults: {
                toppings: [""],
                sugar: "",
                ice: "熱",
              },
            },
            {
              name: "青草茶",
              engName: "Herbal Tea",
              price: 35,
              defaults: {
                toppings: [""],
                sugar: "",
                ice: "",
              },
            },
            {
              name: "金桔檸檬",
              engName: "Kumquat Lemonade",
              price: 40,
              defaults: {
                toppings: [""],
                sugar: "",
                ice: "",
              },
            },
            {
              name: "柳澄青茶",
              engName: "Orange Mountain Tea",
              price: 45,
              defaults: {
                toppings: [""],
                sugar: "",
                ice: "",
              },
            },
          ],
          temp: {
            // 預設倉庫 渲染用
          },
          tempFormData: {
            // 表單倉庫 渲染用
          },
          tempForm: [
            // 裝物件用
          ],
          orderEndData: {
            // 訂單明細倉庫 渲染用
          },
          orderEnd: [
            // 裝物件用
          ],
          // 金額倉庫
          orderPrice: 0,
          // 總金額倉庫
          orderPriceTotal: 0,
          // 日期倉庫
          orderDate: "",
          // 餐點數
          orderAllCount: 0,
          // 是否付款倉庫
          pay: false,
        };
      },
      methods: {
        tempObj(item) {
          // 把倉庫抓來增加預設值(=)
          // temp:{
          //     {
          //     count: 1,
          //     remark: ""
          //     name: "珍珠鮮奶茶",
          //     engName: "Pearl Milk Tea",
          //     price: 60,
          //     defaults: {
          //       toppings: ["珍珠"],
          //       sugar: "",
          //       ice: "",
          //     },
          //   },
          this.temp = {
            count: 1,
            toppings: [],
            // 如果item.defaults.sugar or ice !="" ? item.defaults.sugar or ice : "預設"
            // 此時是判斷還未輸出
            sugar: item.defaults.sugar != "" ? item.defaults.sugar : "正常冰",
            ice: item.defaults.ice != "" ? item.defaults.ice : "無糖",
            remark: "",
            ...item,
          };
          this.orderPriceTotal = 0;
          console.log(this.temp.count);
          console.log(this.temp.defaults.sugar);
          console.log(this.temp.defaults.ice);
        },
        addTempForm(item) {
          // 把前面點擊到的資料(item)抓進來
          // 並給總金額預設倉庫及複製展開
          this.tempFormData = {
            totalPrice: (item.price + item.toppings.length * 10) * item.count,

            ...item,
          };
          console.log(this.tempFormData);
          // 倉庫內塞入選擇的資料
          this.temp = ""; //將飲品加到購物車後，可以讓表單區塊回歸到預設未點擊的畫面
          this.tempForm.push(this.tempFormData);
          this.orderPrice += this.tempFormData.totalPrice;
          console.log(this.tempForm);
          // 以下為相同飲品不得再加入
          // 答：但當購物車已有某飲品時，應該要可以加點相同名稱的飲品，因為不一定每杯同樣飲品的甜度冰塊都相同，可能爸爸想喝正常糖去冰的青草茶、媽媽想喝無糖去冰的青草茶。目前的寫法無法在同筆訂單點多杯一樣但甜度冰塊不同的飲品
          // 判斷是否送兩次一樣的值(商品數量)
          // a.給一個變數counter旗標值(一定要放在最外面，裡面會被洗掉)
          // b.比對送進去的資料this.tempFormData.name與原本倉庫內的item2.name是否相同
          // c.第一次相同時counter + 1，第二次相同counter = 2，
          // d.counter=2，拿掉陣列的最後一個，並且counter回到起始值
          //   let counter = 0;
          //   console.log("全部", this.tempForm);
          //   this.tempForm.forEach((item2, i) => {
          //     console.log("1." + item2.name);
          //     console.log("2." + this.tempFormData.name);

          //     if (item2.name == this.tempFormData.name) {
          //       counter = counter + 1; //counter++;
          // 總額計算 不知道為何orderPrice*3次 XD
          // 答：假如購物車已有一杯飲品了，但又突然想再加點同樣的，點擊「加入」後，tempForm 此時會有兩筆資料，跑 forEach 時就會跑兩次，也就會執行兩次的 this.orderPrice += this.tempFormData.totalPrice，運算完後的 orderPrice 值就等於是 tempFormData.totalPrice * 3
          //       this.orderPrice += this.tempFormData.totalPrice;
          //       if (counter == 2) {
          //         this.tempForm.pop();
          //         //180 *3
          //         //alert(this.orderPrice);
          //         this.orderPrice = this.orderPrice - this.tempFormData.totalPrice * 2;
          //         //120 60
          //         //alert(this.orderPrice);
          //         //alert(this.tempFormData.totalPrice);
          //         counter = 0;
          //       }
          //       console.log(counter);
          //     }
          //   });
        },

        orderDetail(item) {
          this.orderPriceTotal += this.orderPrice;
          this.orderPrice = 0;
          this.orderEnd = item;
          this.orderDate = new Date().toLocaleString();
          this.orderAllCount = this.orderEnd.length;
          this.temp = {};
          this.tempForm = [];
          document.getElementById("orderPrice").innerText = "";
        },

        Clear() {
          this.temp = {};
        },
      },
    };

    Vue.createApp(App).mount("#app");
  </script>
</html>
